:root {
    --main-bg-color: rgba(154, 223, 144, 1);
    --btn-hover-color: #6cf896;
    --btn-width: 175px;
    --btn-height: 100px;
    --font-family: cursive;
}

body {
    background: linear-gradient(to bottom right, rgb(19, 214, 19), #1e9cd6);
    text-align: center;
}

/*-----------Instructions----------*/

#instructions {
    font-family:var(--btn-height);
    color: rgb(15, 20, 27);
    font-weight: 200;
    font-size:125%;
}

/*-------Heading-----*/

.heading, .quote_box {
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font-family);
}

/* ---Game layout--- */

.game_area {
    position: relative;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 36%;
    width: 90%;
    height: 65vh;
    max-height: 830px;
    max-width: 830px;
    margin: 0 auto;
    border-width: 5rem;
    border-bottom: #56ab2f;
}

.btn {
    padding-top: 1.5rem;
    border-radius: 77%;
    background-color: rgb(141, 250, 114);
    border: 0.5rem solid;
    width: var(--btn-width);
    height: var(--btn-height);
    font-size: 1.4rem;
    margin: 1rem;
    transition: all 0.5s;
    box-shadow: 5px 5px;
}

.btn::after {
    content: attr(data-type);
    font-size: 1rem;
    position: relative;
}

.btn:active, .btn:hover {
    background-color: var(--btn-hover-color);
    color: white;
}

/*--- Quote area---*/

.quote_box {
    display: block;
    height: 280px;
    margin: 0 auto;
    padding: 1px;
}

/* --------- Media queries */

@media only screen and (max-width: 780px) {
    .game_area, .btn {
        height: auto;
        width: 80%;
    }
}

@media only screen and (max-width: 320px) {
    .game_area, .btn {
        height: 55%;
        padding-top: 0;
        width: 70%;
    }
}

@media only screen and (max-width: 320px) {
    .game_area, .btn {
        height: 95%;
        padding-top: 10%;
        width: 50%;
    }
}

/*--- Footer ---*/

#smile {
    font-size: larger;
}
