body {
    background-color: aliceblue;
    text-align: center;
}

/*-------Heading-----*/
.heading {
    text-align: center;
    font-size: 2.5rem;
    font-family: cursive;
}

/* ---Game layout--- */
.game_area{
    background-color: #E6ECF0;
    box-sizing: border-box;
    border-radius: 30%;
    width: 90%;
    height: 65vh;
    max-height: 830px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}


.btn {

    padding-top: 1.5px;
    border-radius:74%;
    background-color: white;
    border: 1.5px solid;
    width: 175px;
    height: 100px;
    font-size: 1.9rem;
    margin: 15px 50px 30px 15px;
    transition: all 0.5s;
}

.btn::after{
    content: attr(data-type);
    font-size:1rem;
    position:relative;
    
    
}
.btn-monday:active, .btn-monday:hover {
    background-color: #52f182;
    color: white;
}
.btn-monday:active, .btn-tuesday:hover {
    background-color: lightblue;
    color: white;
}
.btn-monday:active, .btn-wednesday:hover {
    background-color: rgb(202, 233, 194);
    color: white;
}
.btn-monday:active, .btn-thursday:hover {
    background-color: rgb(121, 210, 240);
    color: white;
}
.btn-monday:active, .btn-monday:hover {
    background-color: rgb(85, 207, 181);
    color: white;
}
.btn-monday:active, .btn-friday:hover {
    background-color: rgb(52, 230, 120);
    color: white;
}
.btn-monday:active, .btn-saturday:hover {
    background-color: rgb(9, 165, 218);
    color: white;
}
.btn-monday:active, .btn-sunday:hover {
    background-color: rgb(42, 240, 69);
    color: white;
}

/*--- Quote area---*/

.quote_box{
    background-color:lightblue;
    display: block;
    width: 830px;
    height: 230px;
    margin-left: auto;
    margin-right:auto;
    padding: 1px;
    font-family: cursive;
}

/* --------- Media queries */


@media only screen and (max-width: 780px) {
    .game_area,.btn {
      height: 100%;
      padding-top: 20px;
      width:60%;
    }

  }
  
  @media only screen and (max-width: 375px) {
    .game_area, .btn {
      height: 55%;
      padding-top: 0px;
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .game_area,.btn {
      height: 95%;
      padding-top: 10px;
      width:50%;
    }
    

  /*--- Footer ---*/

  #smile {
      font-size: larger;
  }