:root {
    --main-bg-color: rgba(154, 223, 144, 1);
    --btn-hover-color: #6cf896;
    --btn-width: 75px;
    --btn-height: 100px;
    --font-family: lato;
}

body {
    background: linear-gradient(to bottom right, rgb(19, 214, 19), #1e9cd6);
    text-align: center;
}

/*-----------Instructions----------*/

#instructions {
    font-size: x-large;
    color: #3d5e2e;
}

/*-------Heading-----*/

.heading, .quote_box {
    text-align: center;
    font-size: xx-large;
    font-family: var(--font-family);
}

/* ---Game layout--- */

.game_area {
    position: relative;
    background:linear-gradient(to bottom left, #56ab2f, #a8e063);
    box-sizing: border-box;
    border-radius: 40%;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 36%;
    width: 90%;
    height: 65vh;
    max-height: 830px;
    max-width: 830px;
    margin: 0 auto;
    border-width: 5rem;
    padding-top: 125px;

}

.btn {
    
    border-radius: 25%;
    background-color: white;
    border: 5px seagreen;
    width: 10.5%;
    height: 20.5%;
    font-size: medium;
    margin:1.5%;
    transition: all 0.5s;
    box-shadow: 10px 10px;
    box-sizing: border-box;
    display: inline-block;
    border-bottom: #56ab2f;
}

.btn {
    padding-top: 1.5rem;
    border-radius: 77%;
    background-color: rgb(141, 250, 114);
    border: 0.5rem solid;
    width: var(--btn-width);
    height: var(--btn-height);
    font-size: 1.4rem;
    margin: 1rem;
    transition: all 0.5s;
    box-shadow: 5px 5px;
}

.btn::after {
    content: attr(data-type);
    font-size: 1rem;
    position: relative;
}

.fas{
    text-overflow: ellipsis;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.btn:active, .btn:hover {
    background-color: var(--btn-hover-color);
    color: white;
}

/*--- Quote area---*/

.quote_box {
    display: block;
    height: 280px;
    margin: 0 auto;
    padding: 1px;
}

/* --------- Media queries */

@media only screen and (max-width: 375px) {
    .game_area, .btn {
        height: 55%;
        padding-top: 0;
        width: 70%;
    }
}

@media only screen and (max-width: 320px) {
    .game_area, .btn {
        height: 95%;
        padding-top: 10%;
        width: 50%;
    }
}

@media only screen and (max-width: 780px) {
    .game_area {
        height: auto;
        width: 90%;  /* Adjusted */
    }
    .btn {
        height: auto;
        width: 40%;  /* Adjusted */
    }
}


/*--- Footer ---*/

#smile {
    font-size: larger;
}
